Information Provided/Codebasics Cricket Best 11.pbix
Information Provided/Dashboarding Tips.pdf
Information Provided/DAX Measures and Calculated columns.xlsx
Information Provided/Mock Up.pptx
Information Provided/Paramaeter Scoping.pdf
Information Provided/Stage-2.pbix
Information Provided/Stage-3.pbix
Information Provided/t20_cric_1_power_query.pbix
Information Provided/t20_csv_files.zip
Information Provided/t20_data_preprocessing.ipynb
Information Provided/t20_json_files.zip
Information Provided/web_scrapping_codes.zip
Information Provided/web_scrapping_codes/web_scrapping_codes/t20_wc_batting_summary.js
Information Provided/web_scrapping_codes/web_scrapping_codes/t20_wc_bowling_summary.js
Information Provided/web_scrapping_codes/web_scrapping_codes/t20_wc_match_results.js
Information Provided/web_scrapping_codes/web_scrapping_codes/t20_wc_player_info.js
